{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }, 
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-indent": [2, 2],
    "import/extensions": ["error", "always", {"ignorePackages": true} ],
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"] }],
    "arrow-body-style": ["error", "always"],
    "padded-blocks": ["error", {"blocks": "always" }]
  },
  "overrides": [
    {
      "files": ["Carousel.js"],
      "rules": {
        "import/order": "off",
        "import/first": "off"
      }
    }
  ]
}