



.admin.sidebar h2,
.admin.sidebar ul a  {
  margin-bottom: 0;
  padding: 15px 10px 15px 25px;
  display: block;
  color: #f7f7f7; 
  border-bottom: 1px solid #11293b;
}


.admin.sidebar h2 {
  margin-top: 40px;
  padding: 15px 10px 15px 25px;
  font-size: 17px;
  background: #11293b;
  color: #9cc3e2;
  text-transform: uppercase;
}
.admin.sidebar ul a {
  background: #295f89;
  padding-left: 50px;
}
.admin.sidebar ul a:hover,
.admin.sidebar ul a.selected {
  background: #e6e6e6;
  color: #333;
  text-decoration: none;
}


.admin.sidebar:not(.isOpen) nav {
  display: none;
}




.Et1 .screen.admin {
  display: flex;
}


/**
 * SIDEBAR
 * -------------------------------
*/
.Et1 .screen.admin.sidebar {
  flex-basis: 100px;
  align-items: center;
  flex-direction: column;
}
.Et1 .screen.admin.sidebar button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 15px 10px;
  padding-left: 20px;
  font-size: 16px;
}

.Et1 .screen.admin.sidebar .app__brand button {
  position: relative;
  top: 30px;
  width: 60px;
  height: 50px;
  font-size: 0.8rem;
  padding: 0;
  text-align: center;
}


.Et1 .screen.admin.sidebar.isOpen {
  align-items: normal;
  flex-basis: 900px;
}
.Et1 .screen.admin.sidebar ul {
  list-style: none;
  padding: 0;
}



.Et1 .screen.admin.content {
  flex-direction: column;
  padding: 30px;
  width: 100%;
}





/* .Et1 .screen:not(.admin.sidebar), */
.Et1 .app__brand--text,
.Et1 .menu,
.Et1 .menu > ul {
  display: none;
}

.Et1 .admin.sidebar.isOpen .app__brand--text,
.Et1 .admin.sidebar.isOpen .menu {
  display: block;
}
.Et1 .admin.sidebar.isOpen .app__brand--text.active > ul,
.Et1 .admin.sidebar.isOpen .menu.active > ul {
  display: block;
}
.Et1 .admin.sidebar.isOpen .app__brand {
  padding: 40px 20px;
  color: #fff;
  font-size: 1.7rem;
}
.Et1 .admin.sidebar.isOpen .app__brand button {
  position: absolute;
  right: 20px;
  display: inline;
}


 


 /* styling */
 .Et1 .admin.sidebar .app__brand--text {
  margin: 0;
  font-size: 2rem;
}
 
.Et1 .screen.admin.sidebar button { 
  border: 0px;
  color: #f7f7f7; 
}
.Et1 .screen.admin.sidebar ul button {
  padding-left: 40px;
}



/**
 * THEMING
 * -----------
*/
/**
 * Same color:
 * close button
*/



/**
 * Same color:
 * Active buttons and content
*/
.Et1 .screen.admin.sidebar .menu.active li.active button,
.Et1 .screen.admin.content {
  background: #9cc3e2;
  color: #333;
}
.screen.admin.sidebar .app__brand > button {
  background: #336ca6;
}
/**
 * all buttons
*/
.Et1 .screen.admin.sidebar button {  
  border-bottom: 1px solid #11293b;
}

/**
 * Same color:
 * Inactive buttons, sidebar
*/ 
.Et1 .screen.admin.sidebar {
  background-color: #11293b;
}
 

.Et1 .admin.sidebar .menu button {
  background: #1d4361;
}

.Et1 .admin.sidebar .menu.active > button {
  background: #295f89;
}
.Et1 .admin.sidebar .menu.active ul button {
  background: #2f6d9d;
}
 