


/* .screen.auth.content { 

  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  overflow-y: scroll;
  z-index: 2000; 
} */



.App .screen-auth .container {
  position: relative;
  margin-bottom: 50px;
  top: 70px;
}
.App .screen-auth [for="root_remember-auth"] {
  display: none;
}

/**
 * Smaller devices
 * -------------------------
*/
@media (min-width: 992px) {
  .App .screen-auth .container {
    top: 200px;
  }
}