/**
 * LAYOUTS
 * Every custom layouts of the application
*/



.container-small {
  max-width: 400px;
  width: 100%;
}



.Et1 .screen.auth,
.Et1 .screen.home,
.Et1 .screen.single {
  flex-direction: column;
} 



.box-padd30-tb {  /* box padding 30px top - bottom */  
  padding-top: 30px;
  padding-bottom: 30px;
}
.box-padd50-tb {  /* box padding 50px top - bottom */  
  padding-top: 50px;
  padding-bottom: 50px;
}



/**
 * Cause child columns (.col) to be wrapped and create multiple rows of elements
*/
.row.multi-rows > .col {
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 280px;
  max-width: 280px;
}
.multi-rows .card {
  border: 0px solid;
}

/* When contained within the owl slider:
 - Center item and limit the width on screen sizes below 600px
*/
@media (max-width: 600px) {
  .owl-carousel .col.item {
    margin-left: auto;
    margin-right: auto;
    min-width: 280px;
    max-width: 280px;
  }
}


/**
 * owl slider
*/
.owl-dots .owl-dot.active span {
  background-color: #47BDA7!important;
}


.overflow-y-scroll {
  overflow-y: scroll;
}