
/* 
.screen.home.focus {
  background: #2f6d9d;
} */



.App .screen.home.hero .card,
.App .bg-dark1 {
  background-color:#21162A!important;
}

.App .bg-primary1 {
  background-color:#2f6d9d!important;
}