/**
 * ACRONYMS
 * -------------------------------
 * App prefix: App (Ecommerce Template 1)
*/


/**
 * Init
 * -------------------------------
*/
/* Bootstrap framework */
@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css';
/* Fonts in use */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #666;
}






/**
 * App init
 * .......
 * -------------------------------
*/
.App {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100%;
}
.App-sidedisplay {
  background: red;
}
.App-maincontent {
  background:lime
}
.App-sidedisplay,
.App-maincontent {
  overflow-y: scroll;
  padding: 24px;
}

.App-horizontal-annonces {
  overflow-x: hidden;
}
.App-horizontal-annonces-frame {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 3000px;
}
.App-horizontal-annonces .item {
  margin-right: 30px;
}


.App-maincontent .video {
  margin-bottom: 30px;
}

.box-ad {
  background: #ccc!important;
}










/**
 * COLOR SCHEME
 * .......
 * -------------------------------
 * DARK 1: #21162A
 * PRIMARY: #47BDA7   rgba(71, 189, 167, 1)
 * LIGHT 1: #f5f5f5;  rgba(245, 245, 245, 1)
*/
.btn-primary {
  background-color: #47BDA7!important;
  border-color: #47BDA7!important;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(71, 189, 167,.5);
}

.card .link:hover,
.navbar-dark .navbar-brand,
.navbar-collapse .nav-item a:hover, /* react-router links */
.navbar-collapse .nav-item a.selected, /* react-router links */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #47BDA7;
  text-decoration: none; /* for react-router links */
}
.badge-primary,
.dropdown-item:focus, .dropdown-item:hover {
  /* color: #16181b;
  text-decoration: none; */
  background-color: #47BDA7;
}







/**
 * SCREEN
 * (Any panel that either occupies the entire window or part of it
 * -------------------------------
*/
.App .screen { 
  position: relative; 
}


@import 'css/layouts.css';
@import 'css/product.css';
@import 'css/auth.css';
@import 'css/home.css';
@import 'css/small-tweaks.css';
@import 'css/admin.css';
@import 'css/theme.css';


 

.test-with-class {
  border: 40px dashed lime;
}
ul {
  margin: 0;
}






/**
 * Utilities
 * -----------
*/
.full-screen {
  width: 100%;
  height: 100vh;
}
.panel.panel-danger.errors {
  color: #dc3545!important;
}
.panel.panel-danger.errors .panel-title {
  font-size: 1.3rem;
}
.text-danger {
  background: #e8cccf!important;
}
.txt-highlight {
  color: #007bff;
}
.txt-dark {
  color: #000;
}
.txt-light {
  color: #f5f5f5;
}
.txt-grayed {
  color: #666;
}
.txt-bold {
  font-weight: 600;
}
.block {
  display: block;
} 




/**
 * App grid
 * -----------
*/
.app-row {
  display: flex;
  /* border: 2px solid lime; */
}
.app-row .app-col {
  flex: 1;
  /* border: 2px solid turquoise; */
}
.title-size4 {
  font-size: 1.3rem;
}






/**
 * Top Nav styles
 * ----------------------
*/
.App > .screen {
  padding-top: 56px; /* Bootstrap navbar's height (collapsed) */
}
.top-navigation {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* height: 40px; */
  background-color: #333;
}
.PreviewBox {
  font-size: 0.7rem;
}
.PreviewBox p {
  margin: 0;
}






/**
 * itemModal
 * ----------------------
*/
.itemModal .modal-title {
  text-transform: capitalize;
}
.itemModal__image,
.itemModal__title,
.itemModal__article {
  margin-bottom: 1.5rem;
}
.itemModal__addinfo {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.itemModal__footer {
  background: #ddd;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.itemModal__title {
  position: relative;
}
.itemModal__title small {
  font-size: 1rem;
}
.itemModal__title small .title-size4 {
  font-size: 0.95rem;
}


/* .modal-body  */


.box-shadow-hover {
  -webkit-transition: box-shadow 0.3s ease-out;
  -moz-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
}

.box-shadow-hover:hover {
  -webkit-box-shadow: 0px 0px 71px -7px rgba(71, 189, 167, 1);
  -moz-box-shadow: 0px 0px 71px -7px rgba(71, 189, 167, 1);
  box-shadow: 0px 0px 71px -7px rgba(71, 189, 167, 1);
}








.navbar .navbar-nav {
  text-transform: uppercase;
}
.navbar .navbar-nav {
  text-transform: uppercase;
  font-size: 0.85rem;
}
.navbar a {
  color: #f5f5f5;  
}
.navbar-toggler {
  border: 1px solid #f5f5f5; 
}
.navbar-dark .navbar-toggler {
  color: rgba(245, 245, 245, 1)!important;
  border-color: rgba(245, 245, 245, 1)!important;
}

/* Adapting react-router links to bootstrap's */
@media (min-width: 768px) {
  .navbar-collapse .nav-item a {
    color: rgba(255,255,255,.5);
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
  }
}




body.modal-open {
  overflow: visible;
}



.screen-fixed {
  position: fixed!important;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 2000;
}
.opaque-black {
  color: #fff;
  background: rgba(0,0,0,0.7);
}
.opaque-black label,
.opaque-black form .control-label {
  color: #fff;
}






/**
 * Form in general
 * ----------------------
*/
form label.radio-inline {
  margin-right: 20px;
}
form label.radio-inline input + span,
form .checkbox label input + span {
  margin-left: 5px;
}
form .checkbox {
  position: relative;
  top: -2px;
}
form .control-label {
  margin-bottom: .1rem;
  color: #666;
}
form .form-group {
  margin-bottom: 1rem;
  margin-bottom: 1.5rem;
}
form .form-group textarea {
  height: 150px;
}



@media (min-width: 600px) {
  .admin-form .form-group.field-object .form-group {
    width: calc(50% - 30px);
    float: left;
    min-height: 75px;
    /* border: 1px solid red; */
  }
  .admin-form .form-group.field-object .form-group:nth-of-type(2n) {
    margin-left:30px;
  }
  
  .admin-form .btn[type="submit"] {
    width: calc(50% - 30px);
  }
}







.app-preloder {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}
.app-preloder__frame {
  text-align: left;
  margin-top: 150px;
}
.app-preloder__frame ul {
  padding-left: 0;
  list-style: none;
}
.app-preloder__frame ul li {
  display: flex;
  padding: 5px 0;
  color: #47bda7;
}
.app-preloder__frame ul li.active {
  color: #fff!important;
}
.app-preloder__icon {
  margin-right: 10px;
}
/* 

display: flex;
height: 30px;
align-items: center; */








.page404 {
  padding-top: 100px;
  text-align: center;
}
.page404 h1,
.page404 .img404,
.page404 p {
  margin-bottom: 30px;
}
.page404 .img404 {
  max-width: 100%;
}

.page404 .btn-primary {
  padding: 10px 30px;
}

@media (min-width: 501px) {
  .page404 .img404 {
    max-width: 500px;
  }
  .page404 p {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
}




.App > .admin-login {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 120px;
  align-items: center;
  flex-direction: column;
}
.admin-login__title {
  margin-bottom: 20px;
}
.admin-login__card {
  width: 100%;
  max-width: 400px;
}
.admin-login__card .card-body {
  padding-top: 30px;
}


.visitor-login__form .field-boolean:last-of-type,
.admin-login__form .field-boolean:last-of-type {
  margin-bottom: 0;
}


.app-preloder,
.App > .admin-login {
  background: #2f6d9d;
}

.app-preloder .title,
.App > .admin-login .title {
  color: #fff;
}


.btn-primary {
  padding-left: 30px;
  padding-right: 30px;
}